*{
    margin: 0;
    padding: 0;
}
.heading {
  text-align: center;
}
.container {
  margin-inline: auto;
  width: 500px;
  height: 500px;
  border: 2px solid red;
  display: flex;
  flex-wrap: wrap;
}

.square {
  border: 1px solid red;
  box-sizing: border-box;
}
