
* {
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  margin-top: 20px;
  color: white;
}
.container {
  position: relative;
}

img {
  width: 500px;
  height: 300px;
  object-fit: cover;
}

.numbertext {
  position: absolute;
  top: 10px;
  left: 10px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  position: absolute;
  left: 40%;
  bottom: 10%;
  font-size: 1.4rem;
}

.dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 200px;
  padding-top: 20px;
}
.dot {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: gray;
  cursor: pointer;
}

.active {
  background-color: black;
}

.mySlides {
  display: none;
}

.show {
  display: block;
}
